body {
    
    width: 800px;
    margin:auto;
    
}

/*Här är min Header */
#header {
    
    background-color: #CCFFFF;
    height: auto;
    
}

#header img{
    float:left;
}

/*Här är min meny och länkarna */

#meny {
    background-color: RGBA(143, 178, 178, 0.5 ); 
    float: left;
    width: 800px;
    height:52px;
    position:relative;
    bottom:52px;
}


#meny li {
    margin-left:55px;
    list-style: none;
    float:left;
    
   
}
#meny a {
    padding:3px; 
    text-decoration:none;
    font-size: 20px;
    padding-left:24px;
    
}
a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: RGBA(255, 239, 206, 0.5 ); 

}

.active {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: RGBA(255, 239, 206, 0.5 ); 
}

/*Här är min Content med text */
#content{
    
    background-color:#FFEFCE;
    width: 760px;
    padding:20px;
    height:auto;
    
}
#content h2 {
    text-align:center;
    font-size:40px;
    color: #394747;
}

#content h3 {
    color: #52A3CC;
    font-size:20px;
    margin-left: 20px;
    margin-right: 20px;
    border-bottom: 2px solid #8FB2B2;
    
}

table {
    margin:auto;
}

.bildpamig{
    float:left;
    margin-top:60px;
    margin-right:10px;
    
}

.media{
    float:right;
}

.inlagg{
    margin-bottom:100px;
}

img p #content {
    float:none;
}

.signatur{
    float: right;
    font-style:oblique;
}


.pic{
    width: 118px;
    height:110px;
    margin-top:-40px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 5px;
}
.right{
    Background-image: url('Pictures/danbo1.jpg');
    display:block;
    background-repeat:no-repeat;
    float:right;
}

.left{
    Background-image: url('Pictures/danbo2.jpg');
    display:block;
    background-repeat:no-repeat;
    float:left;
}

#footer {
    
    Background-color: #E6D7B9;
    height:auto;
    width:800px;
    margin: 20px auto;
    text-align:center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding: 5px;

}

/* Här kommer formulärets Css*/
.form {
    
    margin-left:auto;
    margin-right:auto;
    max-width: 90%;
    padding: 30px 30px 20px 30px;
    font: 18px Arial;
    color: #666;
    border-radius: 10px;
    -webkit-border-radius: 10px;
}

.form input{
    color: #555;
    width: 70%;
    padding: 3px 0px 3px 5px;
    margin-top: 2px;
    margin-right: 6px;
    margin-bottom: 16px;
    border: 1px solid #e5e5e5;
    background: #fbfbfb;
    height: 25px;
    
}
.form select{
    margin: 0px 0px 20px 0px;
}
.form h1 {
    font: 18px Arial;
    padding: 10px 0px 10px 20px;
    display: block;
    border-bottom: 1px solid #F5F5F5;
    margin: -10px -30px 10px -30px;
    color: #969696;
}
.form textarea{
    height:100px;
    padding: 5px 0px 0px 5px;
    width: 70%;

    /*text-align:left;
    width: 70%;
    margin:auto;--*/


#content legend {
    font-size: 20px;
}

.meny-start{
    height:20px;
    display:block;
    background-image: url('Pictures/sprite.png');
    background-repeat:no-repeat;
    background-origin:content-box;
    
}
#start{
    background-position: 0 -48px;
    
    
}
#start:hover{
    background-position: 0 0;
}



.meny-lab{
    height:20px;
    display:block;
    background-image: url('Pictures/sprite.png');
    background-repeat:no-repeat;
    background-origin:content-box;
}

#lab{
    background-position: 0 -144px;
}
#lab:hover{
    background-position: 0 -96px;
}


.meny-pres{
    height:20px;
    display:block;
    background-image: url('Pictures/sprite.png');
    float:left;
    background-repeat:no-repeat;
    background-origin:content-box;
}
#pres{
    background-position: 0 -240px;
}
#pres:hover{
    background-position: 0 -192px;
}

.meny-kont{
    height:20px;
    display:block;
    background-image: url('Pictures/sprite.png');
    float:left;
    background-repeat:no-repeat;
    background-origin:content-box;
}
#kont{
    background-position: 0 -336px;
}
#kont:hover{
    background-position: 0 -288px;
}

/*Mina bakgrundsfärger:
Header:#CCFFFF
Content:#FFEFCE
Footer:#E6D7B9
*/

@media print{
    #meny{
        display:none;
    }
    
    .pic{
        display:none;
    }
    #header {
        display:none;
    }
    #content {
        width:100%;
    }
    body {
        float:left;
    }
        
    #footer{
        display:none;
    }
    a:after{
        content: " ["attr(href) "]";
    }
}


